:root {
  --dark-red: #672714;
  --green-grey: #bcb19b;
  --light-red: #aa3d1d;
  --eggshell: #f3efe7;
  --light-beige: #f1e3c8;
  --dark-green: #393d32;
  --medium-green: #676758;
  --light-green: #95907d;
}

@font-face {
  font-family: "Futura";
  src: url("assets/FuturaBookfont.ttf");
}

@font-face {
  font-family: "Futura-Light";
  src: url("assets/FuturaLightfont.ttf");
}

.nav-bar {
  top: 0;
  left: 0;
}

.navbar-container {
  font-family: "Futura";
  display: flex;
  justify-content: center;
  background-color: var(--dark-green);
  padding: 1.5rem;
}

.navbar-logo p {
  color: var(--light-beige);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  text-align: left;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: auto;
  justify-content: flex-end;
  margin-right: 5%;
  gap: 5%;
  text-decoration: none;
}

.navbar-link {
  text-decoration: none;
}

.navbar-links p {
  color: var(--light-beige);
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-links p:hover {
  color: var(--dark-green);
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--light-beige);
  transition: color 0.3s ease;
}

.hamburger:hover {
  color: var(--medium-green);
}

.navbar-links.open {
  border: solid 2px var(--light-beige);
}

.navbar-links.open p {
  transition: background-color 0.3s ease;
}

.navbar-links.open p:hover {
  background-color: var(--medium-green);
}

.popup-container {
  position: absolute;
  background-color: white;
  color: var(--dark-gray);
  align-self: center;
  width: 100%;
  font-family: "Futura";
}

.banner {
  position: relative;
  width: 100%;
  background-color: var(--dark-green);
  padding-bottom: 5%;
}

.banner-carousel {
  width: 60%;
  margin: auto;
}

.homepage-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resized-image {
  width: 80%;
  height: auto;
  max-height: 400px;
}

.text-overlay, .homepage-text-overlay  {
  position: absolute;
  top: 0;
  left: 10%;
  width: clamp(300px, 40%, 500px);
  color: var(--light-beige);
  background-color: rgba(57, 61, 50, 0.8);
  padding: clamp(10px, 5%, 30px);
  border-radius: 0 0 100px 0;
  font-size: 50px;
  text-align: left;
}

.text-overlay p, .homepage-text-overlay p{
  font-family: "Futura";
  letter-spacing: 1px;
}

.homepage-text-overlay {
  background-color: var(--dark-green);
}

.learn-more-button {
  margin: auto;
  text-align: center;
  padding: 5px;
  font-size: 22px;
  text-transform: uppercase;
  border: 2px solid var(--light-beige);
  width: clamp(150px, 40%, 300px);
  transition: background-color 0.3s ease;
  color: var(--light-beige);
}

.learn-more-button:hover {
  cursor: pointer;
  background-color: var(--light-red);
}

.explore-section {
  padding: 5%;
  background-color: var(--medium-green);
  position: relative;
  width: 100%;
}

.explore-section h1 {
  font-family: "Futura";
  text-transform: uppercase;
  font-size: 50px;
  color: var(--light-beige);
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.explore-section p {
  font-family: "Futura";
  color: white;
  font-size: 20px;
  width: 70%;
}

.homepage-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 340;
  height: 374;
  padding: 40px;
  background-color: var(--dark-green);
}

.about-us-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
}

.about-us-container {
  background-color: var(--dark-green);
}

.about-us-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.about-us-values h1,
.about-us-values p {
  font-family: "Futura";
  text-align: center;
  width: 60%;
}

.about-us-values h1 {
  margin-bottom: 30px;
}

.mission {
  background-color: var(--light-green);
  color: white;
}

.vision {
  background-color: var(--medium-green);
  color: var(--light-beige);
}

.about-us-images {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-grey);
}

.resizeable-about-us-img1 {
  width: 100%;
  height: auto;
  object-fit: cover; 
}

.resizeable-about-us-img2 {
  width: 100%; /* Take up the full height of the column */
  max-height: 750px;
  object-fit: cover; /* Crop the image to fill the column without distortion */
}

.code-of-conduct {
  background-color: var(--dark-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.code-of-conduct h1,
.code-of-conduct p {
  font-family: "Futura";
  text-align: center;
  width: 70%;
}

.code-of-conduct h1 {
  color: white;
  font-size: 32px;
  margin-bottom: 5%;
}

.code-of-conduct h1 span {
  color: var(--light-red);
}

.code-of-conduct p {
  color: var(--light-beige);
  font-size: 18px;
}

.resized-cc-image {
  width: 60%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.code-of-conduct-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
}

.cc-text-overlay {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 30%;
  color: white;
  transform: translate(-50%, -50%); /* Offset to center exactly */
  padding: 20px;
  font-size: 50px;
  text-align: center;
  background-color: rgba(57, 61, 50, 0.8);
}

.cc-text-overlay h1 {
  font-family: "Futura";
  letter-spacing: 1px;
}

.religious-concerns {
  background-color: var(--medium-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.religious-concerns h1,
.religious-concerns p {
  text-align: left;
  font-family: "Futura";
  width: 70%;
}

.religious-concerns h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.religious-concerns p {
  color: var(--light-beige);
  font-size: 18px;
}

.contact-info-section {
  background-color: var(--dark-green);
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-info-section p {
  color: var(--eggshell);
  font-family: "Futura";
  text-align: left;
  font-size: 18px;
}

.contact-info-section h1 {
  color: var(--green-grey);
  font-family: "Futura";
  text-align: center;
  font-size: 26px;
}

.contact-icons {
  gap: 10px;
}

.resized-map {
  width: 80%;
  height: auto;
}

.join-us {
  background-color: var(--dark-green);
  padding-top: 20px;
  padding-bottom: 20px;
}

.book-us-container {
  background-color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.book-us {
  background-color: var(--medium-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.book-us-inputs {
  display: flex;
  gap: 1rem; /* Adjust the gap as needed */
}

.join-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--medium-green);
}

.join-us-form h1,
.book-us h1 {
  font-family: "Futura";
  width: 70%;
  color: var(--light-beige);
  padding: 20px;
  font-size: 44px;
  text-align: center;
}

.join-us-form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Futura";
  color: var(--light-beige);
}

.join-us-form-inputs p {
  font-size: 20px;
}

.join-us-form-inputs input {
  background-color: var(--dark-green);
  border: solid 2px var(--light-green);
  color: white;
  padding: 10px;
}

.join-us-submit button {
  color: white;
  width: 100px;
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--medium-green);
  padding: 10px;
  cursor: pointer;
  border: solid 2px var(--light-green);
}

.join-us-submit button:hover {
  background-color: var(--dark-green);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 columns */
}

.grid-image {
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Crop if needed */
}

.submission-message {
  font-family: "Futura";
  font-size: 18px;
  color: var(--light-beige);
  text-align: center;
}

.footer {
  background-color: var(--eggshell);
}

.footer h1 {
  font-family: "Futura";
  color: var(--dark-green);
  width: 600px;
  margin: auto;
  font-size: 30px;
  margin-bottom: 40px;
}

.footer p {
  font-family: "Futura";
  font-size: 18px;
  color: var(--medium-green);
}

.facebook-logo {
  width: 40px;
}

.facebook-logo:hover {
  cursor: pointer;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575px) {
  .navbar-logo p {
    font-size: 10px;
    width: 100%;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: clamp(30px, 15%, 90px);
    top: 20px;
    width: 5px;
    z-index: 999;
  }

  .navbar-links.open {
    display: flex;
    position: absolute;
    background-color: var(--light-green);
    top: 0;
    right: 0;
    width: 60%;
    padding-top: 50px;
    justify-content: flex-start;
    /* align-items: center; */
    z-index: 998; /* To overlay other content */
  }

  .navbar-links.open p {
    padding-left: 20px;
    font-size: 20px;
  }

  .homepage-title,
  .explore-section h1 {
    font-size: 20px;
  }

  .banner {
    padding-bottom: 0;
  }

  .banner-carousel {
    width: 90%;
  }

  .resized-image {
    width: 100%;
    height: 100vh; /* Make the image height 100% of the container */
    object-fit: cover; /* This maintains the aspect ratio while cropping the image */
  }

  .learn-more-button {
    font-size: 16px;
    width: 60%;
  }

  .text-overlay, .homepage-text-overlay {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    width: 70%;
    background-color: rgba(57, 61, 50, 0.8);
    transform: translate(-50%, -50%); /* Offset to center exactly */
    padding: 20px;
    text-align: center;
    border-radius: 0 0 0 0;
  }

  .explore-section {
    padding: 20px;
  }

  .explore-section p {
    font-size: 16px;
    width: 90%;
  }

  .about-us-values h1 {
    font-size: 18px;
  }

  .about-us-values p {
    font-size: 14px;
    width: 97%;
  }

  .code-of-conduct h1 {
    font-size: 16px;
    width: 90%;
  }

  .code-of-conduct p {
    font-size: 14px;
    width: 90%;
  }

  .resized-cc-image {
    width: 85vw; /* Make the image width 100% of the container */
    height: auto; /* Make the image height 100% of the container */
    object-fit: cover; /* This maintains the aspect ratio while cropping the image */
  }

  .resizeable-about-us-img1 {
    width: 100vw;
  }

  .religious-concerns h1 {
    font-size: 18px;
    width: 97%;
  }

  .religious-concerns p {
    font-size: 14px;
    width: 97%;
  }

  .book-us-inputs {
    flex-direction: column;
    gap: 0.5rem; /* Smaller gap for stacked fields */
  }

  .join-us-form h1,
  .book-us h1 {
    font-size: 22px;
    padding: 5px;
  }

  .book-us-inputs p,
  .join-us-form-inputs p {
    font-size: 16px;
    margin-bottom: 0; /* Space between label and input */
  }

  input,
  select {
    width: 100%; /* Ensures inputs span the full width on smaller screens */
    padding: 5px;
    max-width: 100%; /* Removes any maximum width constraint for small screens */
  }

  .requests-labels {
    font-size: 14px;
  }

  .join-us-form-inputs textarea {
    font-size: 10px;
  }

  .cc-text-overlay {
    padding: 10px;
    width: 50%;
  }

  .cc-text-overlay h1 {
    font-size: 24px;
    width: 100%;
  }

  .contact-info-section p {
    font-size: 14px;
  }

  .footer h1 {
    width: 250px;
    font-size: 18px;
  }

  .footer p {
    font-size: 12px;
  }

  .facebook-logo {
    width: 20px;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 829px) {
  .navbar-logo p {
    font-size: 10px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 90px;
    top: 20px;
    width: 5px;
    z-index: 999;
  }

  .navbar-links.open {
    display: flex;
    position: absolute;
    background-color: var(--light-green);
    top: 0;
    right: 0;
    width: 40%;
    padding-top: 50px;
    justify-content: flex-start;
    /* align-items: center; */
    z-index: 998; /* To overlay other content */
    border: solid 2px var(--light-beige);
  }

  .navbar-links.open p {
    padding-left: 20px;
    font-size: 14px;
  }

  .banner-carousel {
    width: 80%;
  }

  .homepage-title,
  .explore-section h1 {
    font-size: 24px;
  }

  .learn-more-button {
    font-size: 16px;
  }

  .explore-section p {
    font-size: 16px;
  }

  .footer h1 {
    width: 350px;
    font-size: 20px;
  }

  .footer p {
    font-size: 14px;
  }

  .facebook-logo {
    width: 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 830px) and (max-width: 991px) {
  .navbar-logo p {
    font-size: 12px;
  }

  .navbar-links p {
    font-size: 14px;
  }

  .homepage-title,
  .explore-section h1 {
    font-size: 32px;
  }

  .learn-more-button {
    font-size: 16px;
  }

  .explore-section p {
    font-size: 16px;
  }

  .text-overlay {
    width: 400px;
  }

  .footer h1 {
    width: 450px;
    font-size: 24px;
  }

  .footer p {
    font-size: 16px;
  }

  .facebook-logo {
    width: 30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-logo p {
    font-size: 16px;
  }

  .navbar-links p {
    font-size: 16px;
  }

  .homepage-title {
    font-size: 42px;
  }

  .homepage-images {
    gap: 3px;
  }

  .learn-more-button {
    font-size: 18px;
  }

  .text-overlay {
    width: clamp(400px, 50%, 500px);
  }

  .explore-section h1 {
    font-size: 42px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1599px) {
  .navbar-logo p {
    font-size: 16px;
  }

  .navbar-links p {
    font-size: 18px;
  }

  .homepage-title,
  .explore-section h1 {
    font-size: 44px;
  }
}

/* Extra-extra large devices (4K screens, 1600px and up) */
@media (min-width: 1600px) {
  /* Styles for extra-large screens and high-res monitors */
}
